<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RSVP</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <ul class="nav nav-pills col-xs-offset-7">
        <li><a href="/">Home</a></li>
        <li><a href="<%= event_path(@conn, :list) %>">Events</a></li>
        <li><a href="<%= login_path(@conn, :index) %>">Login</a></li>
    </ul>

    <div class="container">
      <header class="header">
          <span class="title">RSPV</span>
          <span class="sub-title">Your online directory of events</span>
          <%= if @conn.cookies["user_name"] do %>
            <span>
                Hello, <%= @conn.cookies["user_name"] %>
            </span>
          <% end %>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
